* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --text-color: white;
  --url-background: url("./assets/assets/bg-mobile.jpg");
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.1);
  --surface-color-hover: rgba(255, 255, 255, 0.05);
  --highlight-color: rgba(255, 255, 255, 0.2);

  --url-button: url("./assets/assets/moon-stars.svg");
}

.light {
  --text-color: black;
  --url-background: url("./assets/assets/bg-mobile-light.jpg");
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(0, 0, 0, 0.2);

  --url-button: url("./assets/assets/sun.svg");
}

body {
  background-image: var(--url-background);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

.container {
  margin: 0 auto;
  max-width: 588px;
  padding: 56px 24px;
  width: 100%;
}

.profile {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 24px;
}

.profile img {
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  width: 112px;
}

.profile p {
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
}

.switch {
  position: relative;
  width: 64px;
  margin: 4px auto;
  cursor: pointer;
}

.switch button {
  width: 32px;
  height: 32px;
  border: none;
  background: white var(--url-button) no-repeat center;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  cursor: pointer;

  animation: slide-out 0.2s forwards;
}
.light .switch button {
  animation: slide-in 0.2s forwards;
}
.switch button:hover {
  outline: 8px solid var(--highlight-color);
}
.switch span {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 9999px;
}
.container ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style: none;
  padding: 24px 0;
}
.container ul li a {
  align-items: center;
  backdrop-filter: blur(4px);
  background-color: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  text-decoration: none;
  padding: 16px 24px;
  -webkit-backdrop-filter: blur(4px);

  transition: background 0.2s, border 0.5s;
}

.container ul li a:hover {
  background-color: var(--surface-color-hover);
  border: 1.5px solid var(--text-color);
}

.social-links {
  display: flex;
  font-size: 24px;
  /* gap: 16px; */
  justify-content: center;
  padding: 24px 0;
}
.social-links a {
  align-items: center;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  padding: 16px;
  transition: background 0.2s;
}
.social-links a:hover {
  background: var(--highlight-color);
}

footer {
  text-align: center;
  font-size: 14px;
  padding: 24px 0;
}

@media (min-width: 700px) {
  :root {
    --url-background: url("./assets/assets/bg-desktop.jpg");
  }
  .light {
    --url-background: url("./assets/assets/bg-desktop-light.jpg");
  }
}

@keyframes slide-in {
  from {
    left: 0;
  }
  to {
    left: 50%;
  }
}

@keyframes slide-out {
  from {
    left: 50%;
  }
  to {
    left: 0;
  }
}
